<!DOCTYPE html>
<html>
  <head>
    <title>sharelock</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link href="//cdn.auth0.com/styleguide/latest/index.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <% include analytics.ejs %>
  </head>
  <body>
    <div class="container">
      <h1><a href="/" class="auth0header">{sharelock} about</a></h1>
      <p>The {sharelock} service provides you a simple and secure mechanism to share secrets with people you know.</p>
      <p>You can share secrets with people you trust in three simple steps:</p>
      <ol>
        <li>Provide the secret data and the list of people you want to allow access to this data to sharelock.io. The service encrypts and signs this information and sends you back the secure URL, which we call a sharelock.</li>
        <li>Send the sharelock to your intended recipients using channels you choose, for example e-mail, Twitter, IRC, or public GitHub pages. The channel does not need to be secure as the sharelock itself is already encrypted.</li>
        <li>Your recipient navigates to the sharelock URL and is required to authenticate using <a href="https://auth0.com">Auth0</a>. The sharelock.io service validates the sharelock data had not been modified, decrypts it, and checks if the authentiated recipient is on the list of people you intended to share the secret with. If everything checks out, the recipient receives your secret. 
      </ol>
      <p>The diagram below illustrates this sequence of events:</p>
      <img src="/images/sharelockio.png" width="70%">
      <p>Enjoy using sharelock.io! <a href="/new">Create yours now</a></p>
    </div>
    <% include footer.ejs %>
  </body>
</html>
