{% extends "layout.html" %}

{% block content %}
<div id="content" class="card-panel about-page inner-padding">
  <h2>About</h2>
  <p>We created this tool out of our own needs. We are constantly exchanging data and we take security very seriously. We don't feel confortable exchanging secret data through chat or e-mail, so we created sharelock. The idea is simple, the server encrypts and sign the secret data and gives you back a URL that is scoped to the people you shared it to. Then whoever gets that URL, in order to decrypt that content, first need to login. That's where we use Auth0. If the identity is verified (either e-mail, domain or twitter account), then the secret data is decrypted and shown. Since certain browsers have URL length limitations, there is a max of data you can share of 500 chars</p>

  <a href="https://auth0.com" target="_blank"><img src="/images/auth0.png"/></a>
  <p>We hope you enjoy and use this tool as we do. Feel free to <a href="https://auth0.com/signup">create an account with Auth0</a> and forget about authentication, authorization and single sign on. </p>
</div>
<!-- / content -->
{% endblock %}