{% extends "layout.html" %}

{% block content %}
<div id="content" class="card-panel about-page inner-padding">
  <h2>About</h2>
  

<p>Sharelock.io is an OSS project that provides you with a simple and secure way to share secrets. It’s easy:</p>
<ul class="list">
  <li>Enter your secret and a list of emails or twitter handles for people that can access your secret. Sharelock.io encrypts all this and presents you a URL, which is called a sharelock. The URL incorporates your encrypted secret, and it’s the only place it exists.</li>
  <li>Send the sharelock using any public or private channel you choose (e.g., email, Twitter, Slack, IRC, public GitHub pages, etc.). The channel does not need to be secure, as the sharelock itself is already encrypted.</li>

  <li>Your recipient browses to the sharelock URL; if they can authenticate themselves to any of the email addresses or twitter handles you specified, they can see the secret.   The project is currently written so authentication is done via Auth0, but feel free to modify the <a target="_blank" href="https://github.com/auth0/sharelock">OSS source code</a> (MIT licensed) to use any alternative you desire.</li>

</ul>

<p>Sharelock is brought to you with love by <a href="https://auth0.com">Auth0</a>.</p>

</div>
<!-- / content -->
{% endblock %}