{% extends "layout.html" %}

{% block content %}
<div id="content" class="card-panel about-page inner-padding data">
    <div class="try-app try-app-inverted">
      <h3>DOWNLOAD THE APP</h3>

      <a target="_blank" href="https://cdn.auth0.com/sharelock-osx/Sharelock-latest.dmg" class="download-app-mac">
        <img src="/home/img/icon-mac.svg">
        <span>Mac</span>
      </a>

      <a target="_blank" href="https://play.google.com/store/apps/details?id=com.auth0.sharelock&hl=en" class="download-app-android">
        <img src="/home/img/icon-android.svg">
        <span>Android</span>
      </a>
    </div>
</div>
<!-- / content -->
{% endblock %}
