{% extends "layout.html" %}

{% block content %}
<div id="content" class="card-panel about-page inner-padding data">
    <div class="try-app try-app-inverted">
      <h3>DOWNLOAD THE APP</h3>

      <a href="https://cdn.auth0.com/sharelock-osx/Sharelock-1.0.0_3.dmg">
        <img src="/home/img/icon-mac.svg">
        <span>Mac</span>
      </a>

      <a href="#">
        <img src="/home/img/icon-android.svg">
        <span>Android</span>
      </a>
    </div>
</div>
<!-- / content -->
{% endblock %}