    <footer class="footer">
      <div class="container">
        <p>
            <a href="#">About</a>&nbsp;|&nbsp;
            <a href="#">Privacy</a>&nbsp;|&nbsp;
            <a href="http://sharelock.ideascale.com">Feedback</a>&nbsp;|&nbsp;
            <a href="https://auth0.com">Powered by Auth0</a>
        </p>
      </div>
    </footer>
