    <footer class="footer">
      <div class="container">
            <a href="/about">About</a>&nbsp;|&nbsp;
            <a href="https://auth0.com/privacy">Privacy</a>&nbsp;|&nbsp;
            <a href="https://auth0.com/privacy#cookies">Cookies</a>&nbsp;|&nbsp;
            <a href="http://sharelock.ideascale.com">Feedback</a>&nbsp;|&nbsp;
            <a href="https://auth0.com">Powered by Auth0</a>
      </div>
    </footer>
