<!doctype html>
<html class="no-js" lang="en">
  <head>
    <!-- Metas -->
    <meta charset="utf-8">
    <title>Sharelock</title>
    <meta name="description" content="Sharelock allows you to share data easily and securely. Simply type a secret and the e-mail or twitter handle of the person(s) you want to share this with and an encrypted link (URL) will be generated.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="canonical" href="https://sharelock.io/home">

    {% block opengraph %}
      <meta property="og:title" content="Sharelock">
      <!-- Following property allows for title= "og:title | og:site_name" display on fb cards -->
      <!-- <meta property="og:site_name" content="Home"> -->
      <meta property="og:description" content="Sharelock allows you to share data easily and securely. Simply type a secret and the e-mail or twitter handle of the person(s) you want to share this with and an encrypted link (URL) will be generated.">
      <meta property="og:locale" content="en_US">
      <meta property="og:url" content="https://sharelock.io/home">

      <meta property="og:image" content="https://sharelock.io/share/facebook-1200-630.png">
      <meta property="og:image:type" content="image/png">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">

      <meta property="og:image" content="https://sharelock.io/share/facebook-600-315.png">
      <meta property="og:image:type" content="image/png">
      <meta property="og:image:width" content="600">
      <meta property="og:image:height" content="315">
    {% endblock %}

    {% block twittercard %}
      <meta name="twitter:card" content="summary_large_image">
      <!-- <meta name="twitter:site" content="@sharelock"> -->
      <meta name="twitter:creator" content="@auth0">
      <meta name="twitter:title" content="Sharelock">
      <meta name="twitter:description" content="Sharelock allows you to share data easily and securely. Simply type a secret and the e-mail or twitter handle of the person(s) you want to share this with and an encrypted link (URL) will be generated.">
      <meta name="twitter:image:src" content="https://sharelock.io/share/facebook-1200-630.png">
      <meta name="twitter:image:width" content="1200">
      <meta name="twitter:image:height" content="630">
    {% endblock %}

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/home/materialize/css/materialize.min.css" />
    <link rel="stylesheet" href="/home/css/animate.css" />
    <link rel="stylesheet" href="/home/css/site.css" />

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png" />
  </head>
  <body>

  <div class='navbar delayed'>
    <ul>
      <li>
        <a href="/new">Create Sharelock</a>
      </li>
      <li class="download-link">
        <a href="#" class="download-link">Download <i></i></a>

        <div class="dropdown-download">
          <a target="_blank" href="https://cdn.auth0.com/sharelock-osx/Sharelock-1.0.0_3.dmg">
            <img src="/home/img/icon-mac.svg">
            <span>Mac Yosemite</span>
          </a>
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.auth0.sharelock&hl=en">
            <img src="/home/img/icon-android.svg">
            <span>Android</span>
          </a>

          <a target="_blank" href="https://github.com/auth0/sharelock">
            <img src="/home/img/icon-github.svg">
            <span>Source</span>
          </a>
        </div>
      </li>
    </ul>

  </div>

  <a href='/' class='logo delayed'>
      <img src='/home/img/logo.svg'>
  </a>

  <a href="https://twitter.com/home?status=Share%20secret%20data%20on%20encrypted%20links%20with%20the%20people%20you%20want%20https://sharelock.io" target="_new" class="share-on delayed">Share on <img src="/home/img/icon-twitter.svg"></a>

  <footer class="main-footer delayed">

    <a href='https://auth0.com' target='_new' class='poweredby'>Crafted by  <img src='/home/img/poweredby.svg'></a>

    <a href="/about">About</a>
    <a href="/security">Security</a>
    <a href="/tos">Terms</a>
    <a href="/privacy">Privacy</a>


  </footer>

  <div class='arrow'></div>

  <div class='step-bar'>
    <?xml version="1.0" encoding="utf-8"?>
    <svg version="1.1"
      id="svg2" class="step-animate" inkscape:version="0.48.4 r9939" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="-177.1 650.3 256.7 52.7" enable-background="new -177.1 650.3 256.7 52.7" xml:space="preserve">
      <g id="g3987" transform="translate(9.8847596,715.98137)">

        <path id="path3989" class="circle s1" fill="none" stroke="#EB5424" stroke-width="2" d="
        M-135.3-39.3c0,14-11.3,25.3-25.3,25.3s-25.3-11.3-25.3-25.3s11.3-25.3,25.3-25.3S-135.3-53.3-135.3-39.3z"/>

        <path id="path3991" class="circle s2" fill="none" stroke="#EB5424" stroke-width="2" d="
        M-33.3-39.3c0,14-11.3,25.3-25.3,25.3s-25.3-11.3-25.3-25.3s11.3-25.3,25.3-25.3S-33.3-53.3-33.3-39.3z"/>

        <path id="path3993" class="circle s3" fill="none" stroke="#EB5424" stroke-width="2" d="
        M68.7-39.3c0,14-11.3,25.3-25.3,25.3S18.1-25.3,18.1-39.3s11.3-25.3,25.3-25.3S68.7-53.3,68.7-39.3z"/>

        <path id="path4011" class="line s1" inkscape:connector-curvature="0" fill="none" stroke="#EB5424" stroke-width="2" stroke-linecap="round" d="
        M-134.9-39.1h51.1"/>

        <path id="path4015" class="line s2" inkscape:connector-curvature="0" fill="none" stroke="#EB5424" stroke-width="2" stroke-linecap="round" d="
        M-32.9-39.1h51.1"/>

      </g>
    </svg>

    <ul class="step-numbers">
      <li class="number-one">1</li>
      <li class="number-two">2</li>
      <li class="number-three">3</li>
    </ul>
  </div>

  <!-- main area -->

  <section class='home'>
      <div class='phone p1'>
          <div class='screen'>
              <div class='keyboard'></div>
              <div class='status-bar'></div>

              <div class='app a1'>

                  <div class='header'>
                      <img class='mobile-logo' src='/home/img/mobile-logo.svg'>
                      <a  class='menu-button'></a>
                      <span class='title'>securely share data</span>
                  </div>

                  <div class='content c1'>
                      <div class='float-buttons'>
                          <a
                              class="btn-floating btn-large white ripple">
                              <div class='ink'></div>
                              <i class="mdi-content-add"></i>
                          </a>
                          <a
                              class="btn-floating btn-large skyblue ripple share">
                              <div class='ink'></div>
                              <i class="mdi-social-share"></i>
                          </a>
                      </div>
                      <div class='field icon data'>
                          <span class='label'>TYPE A SECRET</span>
                          <span class='value'>hey Eugenio, my CC: 4237 2843 3423</span>
                      </div>
                      <div class='field icon who'>
                          <span class='label'>WHO TO SHARE WITH</span>
                          <span class='value'>eugeniopace@auth0.com</span>
                      </div>
                      <div class='field icon sharelocked'>
                          <span class='label'>SHARELOCK URL</span>
                          <span class='value'><a href='#'>https://sharelock.io/1/cuwcRv64JE-IR5ivYPG984CkaVEbgyO_fb-iExkvrtY.RqzDlJ/ajGQX80T1u6XALenFqYo9mhC2i8bqf5BD</a></span>
                      </div>
                  </div>


                  <div class='content c2'>
                      <div class='field'>
                          <span class='label'>TYPE A SECRET</span>
                          <!--<input type='text'>-->
                          <div class='text-input'></div>
                      </div>
                      <div class='button-bar'>
                          <a href='#' class='next ripple'>
                              <div class='ink'></div>
                              NEXT
                          </a>
                      </div>
                  </div>

                  <div class='content c3'>
                      <div class='field'>
                          <span class='label'>WHO TO SHARE WITH</span>
                          <div class='text-input'></div>
                      </div>
                      <div class='button-bar'>
                          <a href='#' class='next ripple'>
                              <div class='ink'></div>
                              NEXT
                          </a>
                      </div>
                  </div>


                  <div class='dialog'>
                    Would you like to add this data to Sharelock?
                    <a href='#' class='button'>
                        PASTE
                    </a>
                  </div>

                  <div class='share-menu'>
                      <div class='whatsapp ripple'>
                          <div class='ink'></div>
                      </div>
                  </div>

              </div>

              <div class='app a2'>

                  <!--
                  ENCRYPTING VIEW
                  ===============
                  -->

                  <div class='loading'>
                      <div class='loading-text'>
                          <div class='preloader'>
                            <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                            <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                            </div><div class="circle-clipper right">
                            <div class="circle"></div>
                            </div>
                            </div>

                            <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                            <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                            </div><div class="circle-clipper right">
                            <div class="circle"></div>
                            </div>
                            </div>

                            <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                            <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                            </div><div class="circle-clipper right">
                            <div class="circle"></div>
                            </div>
                            </div>

                            <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                            <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                            </div><div class="circle-clipper right">
                            <div class="circle"></div>
                            </div>
                            </div>
                            </div>
                          </div>
                        Encrypting Data...
                      </div>
                  </div>
              </div>

              <div class='app a3'>
                <div class='contact ripple'>
                    <div class='ink'></div>
                </div>
              </div>
              <div class='app a4'></div>

              <div class='nav-bar'></div>
          </div>
      </div>
      <div class='phone p2'>
          <div class='screen'>

              <div class='status-bar'></div>

              <div class='app a1'>

                  <div class='header'>
                      <img class='mobile-logo' src='/home/img/mobile-logo.svg'>
                      <a href='#' class='menu-button'></a>
                      <span class='title'>securely share data</span>
                  </div>

                  <div class='content c1'>
                      <p>
                        The creator of the sharelock restricted access to
                        the data to select people with e-mails ending with
                        <a>@auth0.com</a>. Please choose an identity provider with
                        which you registered a matching e-mail address.
                      </p>
                      <a class='login gplus'>SIGN IN WITH GOOGLE+</a>
                      <a class='login fb'>SIGN IN WITH FACEBOOK</a>
                  </div>

              </div>

              <div class='nav-bar'></div>

          </div>
      </div>
      <div class='phone p3'>
          <div class='screen'>

              <div class='status-bar'></div>

              <div class='app browser a1'>

                  <img src='/home/img/browser-bar.png' class='browser-address'>

                  <div class='header'>
                      <img class='mobile-logo' src='/home/img/mobile-logo.png'>
                      <a href='#' class='menu-button'></a>
                      <span class='title'>securely share data</span>
                  </div>

                  <div class='content c1'>
                      <p>
                        The creator of the sharelock restricted access to
                        the data to select people with e-mails ending with
                        <a>@auth0.com</a>. Please choose an identity provider with
                        which you registered a matching e-mail address.
                      </p>
                      <a class='login gplus'><div class='ink'></div>SIGN IN WITH GOOGLE+</a>
                      <a class='login fb ripple light'>SIGN IN WITH FACEBOOK</a>
                  </div>

              </div>

              <div class='app browser a2'>

                  <!--
                  ENCRYPTING VIEW
                  ===============
                  -->

                  <img src='/home/img/browser-bar.png' class='browser-address'>

                  <div class='loading'>
                      <div class='loading-text'>
                          <div class='preloader'>
                            <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                            <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                            </div><div class="circle-clipper right">
                            <div class="circle"></div>
                            </div>
                            </div>

                            <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                            <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                            </div><div class="circle-clipper right">
                            <div class="circle"></div>
                            </div>
                            </div>

                            <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                            <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                            </div><div class="circle-clipper right">
                            <div class="circle"></div>
                            </div>
                            </div>

                            <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                            <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                            </div><div class="circle-clipper right">
                            <div class="circle"></div>
                            </div>
                            </div>
                            </div>
                          </div>
                        Decrypting Data...
                      </div>
                  </div>
              </div>

              <div class='app browser a3'>

                  <img src='/home/img/browser-bar.png' class='browser-address'>

                  <div class='header'>
                      <img class='mobile-logo' src='/home/img/mobile-logo.png'>
                      <a href='#' class='menu-button'></a>
                      <span class='title'>securely share data</span>
                  </div>

                  <div class='content c1'>
                      <div class='field'>
                          <span class='label'>YOUR SECRET DATA</span>
                          <span class='value'>hey Eugenio, my CC: 4237 2843 3423</span>
                      </div>
                  </div>

              </div>

              <div class='nav-bar'></div>

          </div>
      </div>

      <div class='laptop'></div>

      <div class='text t1'>
        <h2>Securely share data</h2>
        <p>
            Sharelock allows you to share data easily and securely. Simply <strong>type a secret</strong> and the e-mail or twitter handle of the person(s) you want to share this with and an <strong>encrypted link (URL) will be generated</strong>.
        </p>

        <p>While the URL can be shared with anyone, intended recipients will have to <strong>prove their identity</strong> by logging in using their Google, Facebook, Microsoft or Twitter account.</p>

        <p class="t1-links">
          <a href="#" class=" how-it-works">How it works <i class=""></i></a>
          <a href="https://github.com/auth0/sharelock" class="fork-from">or fork the repository from <img src="/home/img/icon-github.svg"></a>
        </p>

      </div>
      <div class='text t2'>
        <h2>Data to share</h2>
        <p>
            Enter a secret you want to share.
        </p>
      </div>
      <div class='text t3'>
        <h2>Who to share it with</h2>
        <p>
            Enter one or more e-mail addresses, Twitter handles or even an entire e-mail domain.
        </p>
      </div>
      <div class='text t4'>
        <h2>Sharelocked data</h2>
        <p>
            An encrypted and signed link containing your secret data will be generated.
        </p>
        <p>
          You can share this link with anynone using any messaging application but recipients will have to <strong>prove their identity</strong> by logging in using their Google, Facebook, Microsoft or Twitter account to access the data.
        </p>
      </div>
      <div class='text t5'>
        <h2>For quick sharing, use the Mac OS App</h2>
        <p>
            The Mac OS app provides a convenient way of creating sharelock URLs.
        </p>
      </div>


      <div class="step-dw">
        <div class="step-dw-half step-dw-left">
          <h4>Use it</h4>
          <p>Create Sharelocks from a native Mac OS app, an Android app or the Web app.</p>
          <a target="_blank" href="https://cdn.auth0.com/sharelock-osx/Sharelock-1.0.0_3.dmg" class="step-dw-link">
            <img src="/home/img/icon-mac.svg">
            <span>On a Mac</span>
          </a>
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.auth0.sharelock&hl=en" class="step-dw-link">
            <img src="/home/img/icon-android.svg">
            <span>On Android</span>
          </a>
          <a href="https://sharelock.io/new" class="step-dw-link">
            <img src="/home/img/icon-web.svg">
            <span>On the Browser</span>
          </a>
        </div>


        <div class="step-dw-half step-dw-right">
          <h4>Fork it</h4>
          <p>Sharelock is <strong>completely open source</strong>. Fork it, <a href="https://heroku.com/deploy?template=https://github.com/auth0/sharelock">deploy your own</a>, contribute :)</p>

          <a target="_blank" href="https://github.com/auth0/sharelock-osx" class="step-dw-link">
            <img src="/home/img/icon-mac.svg">
            <iframe src="https://ghbtns.com/github-btn.html?user=auth0&repo=sharelock-osx&type=star&count=false&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
          </a>
          <a target="_blank" href="https://github.com/auth0/sharelock-android" class="step-dw-link">
            <img src="/home/img/icon-android.svg">
            <iframe src="https://ghbtns.com/github-btn.html?user=auth0&repo=sharelock-android&type=star&count=false&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
          </a>
          <a target="_blank" href="https://github.com/auth0/sharelock" class="step-dw-link">
            <img src="/home/img/icon-web.svg">
            <iframe src="https://ghbtns.com/github-btn.html?user=auth0&repo=sharelock&type=star&count=false&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
          </a>
        </div>

      </div>
  </section>


  <script src='/home/scripts/jquery.min.js'></script>
  <script src='/home/materialize/js/materialize.min.js'></script>
  <script src='/home/scripts/greensock/TimelineMax.min.js'></script>
  <script src='/home/scripts/greensock/TweenMax.min.js'></script>
  <script src='/home/scripts/greensock/plugins/TextPlugin.min.js'></script>
  <script src='/home/scripts/main.js'></script>
  <script src='/home/scripts/scroll.js'></script>
  </body>
</html>
