<!DOCTYPE html>
<html>
  <head>
    <title>sharelock</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1><b>{sharelock}</b> securely share data</h1>
      </div>

      <h2>invalid url</h2>
      <p><%= details %></p>
    </div>
  </body>
</html>
