{% extends "layout.html" %}

{% block content %}
<div id="content" class="card-panel log-in">
    <p>
    {% if (user) %}
      You are logged in as <strong>{{ provider }}</strong> user <strong>{{ user.displayName }}</strong>{% if (email) %} with e-mail address <strong>{{ email }}</strong>{% endif %}
    {% endif %}
    {% if (allow_twitter || allow_domains.length > 0) %}
    The creator of the sharelock restricted access to the data to 
      {% if (allow_twitter) %}
        <strong>select Twitter users</strong>
        {% if (allow_domains.length > 0) %} and {% endif %}
      {% endif %}
      {% if (allow_domains.length > 0) %}<strong>select people with e-mails</strong> ending with <strong>
        {% if allow_domains.length == 2 %} {{allow_domains | join(' or ')}} {% else %} {{allow_domains | join(',')}} {% endif %}.</strong> Please choose an identity provider with which you registered a matching e-mail address. {% endif %}
      {% endif %}
    </p>
    <h2>Verify your identity</h2>
    <div class="btns">
      {% if (providers.preferred.length > 0) %}
        {% for provider in providers.preferred %}
          <a class="{{ provider }} waves-effect waves-light btn" href="#" {% if (providers.preferred[0] === provider) %} style="margin-bottom: 50px" {% endif %}>SIGN IN WITH {{ provider_friendly_name[provider] }}</a>
        {% endfor %}
      {% else %}
        <a class="facebook waves-effect waves-light btn" href="#">SIGN IN WITH FACEBOOK</a>
        <a class="google-oauth2 waves-effect waves-light btn" href="#">SIGN IN WITH GOOGLE</a>
        <a class="twitter waves-effect waves-light btn" href="#">SIGN IN WITH TWITTER</a>
        <a class="windowslive waves-effect waves-light btn" href="#">SIGN IN WITH MICROSOFT ACCOUNT</a>
      {% endif %}

    </div>
</div>
<!-- / content -->
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="//cdn.auth0.com/w2/auth0-6.0.js"></script>

<script type="text/javascript">
  var auth0 = new Auth0({
    domain:       '{{auth0_domain}}',
    clientID:     '{{auth0_client_id}}',
    callbackURL:  '{{auth0_callback}}',
    callbackOnLocationHash: false
  });

  $('.btns .facebook').click(function(e) {
    e.preventDefault();

    auth0.login({
      connection: 'facebook'
    });
  });

  $('.btns .google-oauth2').click(function(e) {
    e.preventDefault();

    auth0.login({
      connection: 'google-oauth2'
    });
  });

  $('.btns .twitter').click(function(e) {
    e.preventDefault();

    auth0.login({
      connection: 'twitter'
    });
  });

  $('.btns .windowslive').click(function(e) {
    e.preventDefault();

    auth0.login({
      connection: 'windowslive'
    });
  });
</script>
{% endblock %}
