{% extends "layout.html" %}

{% block content %}
<div id="content" class="">
  <div class="data card-panel">
      <h5>Create Sharelock</h5>
      <p class="inputs-intro">Type your secret content (e.g: a credit card number, a password, SSN, etc.) and then enter either a single e-mail (hey@example.com), a full e-mail domain (@example.com) or a twitter handle (@auth0) of the person(s) you want to share the secret with. Only them will be able to access the decrypted content after they verify their identity.</p>

     <div class="input-field">
       <label for="data">TYPE YOUR SECRET</label>
       <!-- placeholder="Passwords, keys, URLs, any text up to 500 characters." -->
       <textarea id="data" class="materialize-textarea" rows="2" maxlength="500"></textarea>
       <span class="help-text">
        Passwords, keys, URLs or any text up to 500 characters.
       </span>
     </div>
     <div class="input-field col s12">
       <label for="acl">WHO TO SHARE WITH</label>
       <!-- placeholder="Email addresses (e.g. john@example.com), Twitter handles (e.g. @johnexample), email domain names (e.g. @example.com)" -->
       <textarea id="acl" class="materialize-textarea" rows="2" maxlength="200"></textarea>
       <span class="help-text">
         Email addresses (e.g. john@example.com), Twitter handles (e.g. @johnexample), email domain names (e.g. @example.com)
       </span>
      </div>

      <div id="panel-attachment" class="data">
        <div class="preloader-wrapper big spinner">

          <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>

                <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>

                <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>

        </div>


        <div class="display-area">
          <div id="url" style="display:none;">
            <h3>SHARELOCKED URL</h3>

            <div>
              <a id="urlv" href="" style="word-wrap: break-word;"></a>
            </div>
            <p>Give this URL to the person(s) you want to share the data with. The URL can be sent through any public channels like e-mail, IRC or GitHub repositories since the information is encrypted. The people you selected must authenticate themselves before being able to see the data.</p>
          </div>
          <div class="action-buttons">
            <a id="copy" class="action-link desktop-only" href="javascript:;" style="display:none;"><span class="copy_text">Copy to clipboard</span> <span class="circle-ico"><img src="/images/ico_scale.svg" alt=""></span></a>
          </div>
          <p id="error" class="bg-danger" style="display:none;"></p>
        </div>
      </div>
  </div>
</div>
<!-- / content -->
{% endblock %}

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
<script type="text/javascript">
$(function () {
  var copy_client = new ZeroClipboard(document.getElementById('copy'));

  $('.link.sharelock').attr('href', location.href);
  $('.link.sharelock').text(location.href);
  $('.link.facebook').attr('href', 'https://www.facebook.com/sharer/sharer.php?u='
    + encodeURIComponent(location.href));
  $('.link.twitter').attr('href', 'https://twitter.com/share?text=Check%20my%20sharelock%20secret&url='
    + encodeURIComponent(location.href));
  $('.link.mail').attr('href', 'mailto:some@email.com?subject=Check%20my%20sharelock%20secret&body=Check%20my%20sharelock%20'
    + encodeURIComponent(location.href));

  var timer, spinner_on;
  function on_change() {
    $('#panel-attachment .display-area').removeClass('active');
    $('#urlv').html('').removeAttr('href');
    $('#url').hide();
    $('#copy .copy_text').text('Copy to clipboard');
    $('#copy').attr('data-clipboard-text', '').hide();
    $('#error').hide();
    var payload = create_payload();
    if (!payload) {
      $('#wait').show();
      $('#ajax').hide();
    }
    else {
      $('#wait').hide();
      $('#ajax').show();
      if (!spinner_on) {
        spinner_on = true;
        $('.spinner').addClass('active');
      }
    }
    if (timer)
      clearTimeout(timer);
    timer = setTimeout(function () {
      timer = undefined;
      get_preview();
    }, 2000);
  }

  var last_preview_payload, ajax_in_progress, preview_pending;
  function get_preview() {
      if (ajax_in_progress) {
        preview_pending = true;
        return;
      }

      var payload = create_payload();
      if (!payload) 
        return;
      
      if (last_preview_payload 
        && last_preview_payload.a === payload.a
        && last_preview_payload.d === payload.d)
          return;

      last_preview_payload = payload;
      ajax_in_progress = true;

      $.ajax({
          contentType: 'application/json',
          data: JSON.stringify(payload),
          dataType: 'text',
          type: 'POST',
          url: '/create'
      }).always(function () {
        spinner_on = false;
        $('.spinner').removeClass('active');
        ajax_in_progress = false;
        if (preview_pending) {
          preview_pending = false;
          get_preview();
        }
      }).done(function (data) {
        var url = window.location.origin + data
        $('#urlv').html(url).attr('href', url);
        $('#url').show();
        $('#copy').attr('data-clipboard-text', url).show();
        $('#wait').hide();
        $('#ajax').hide();
        $('#error').hide();
        $('#copy').show();
        $('#panel-attachment .display-area').addClass('active');
      }).fail(function (xhr, status, error) {
        $('#error').html(xhr.responseText || error || status).show();
        $('#url').hide();
        $('#copy').hide();
        $('#wait').hide();
        $('#ajax').hide();
        $('#copy').hide();
        $('#panel-attachment .display-area').addClass('active');
      });
  }

  function create_payload() {
    var payload = {
      d: $('#data').val().trim(),
      a: $('#acl').val().trim()
    }
    return (payload.d.length > 0 && payload.a.length > 0) ? payload : null;
  }

  $('#data').bind('input propertychange', on_change);
  $('#acl').bind('input propertychange', on_change);

  $('textarea').on('blur', function() {
    if($(this).val() === '') {
      $(this).removeAttr('style');
    }
  });

  copy_client.on( "ready", function( readyEvent ) {
    copy_client.on( "aftercopy", function( event ) {
      $(event.target).find('.copy_text').text('Copied');
    } );
  } );
  $('#data').focus();
});
</script>
{% endblock %}
