<!DOCTYPE html>
<html>
  <head>
    <title>sharelock</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="//cdn.auth0.com/styleguide/latest/index.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="/js/spin.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
    <script>
      $(function () {
        var copy_client = new ZeroClipboard(document.getElementById('copy'));

        var spinner = new Spinner({
          lines: 10, // The number of lines to draw
          width: 3,
          length: 3, // The length of each line
          radius: 5, // The radius of the inner circle
          trail: 30, // Afterglow percentage
          top: '45%', // Top position relative to parent
          left: '50%' // Left position relative to parent
        });

        var timer, spinner_on;
        function on_change() {
          $('#urlv').html('');
          $('#url').hide();
          $('#copy').attr('data-clipboard-text', '').hide();
          $('#error').hide();
          var payload = create_payload();
          if (!payload) {
            $('#wait').show();
            $('#ajax').hide();
          }
          else {
            $('#wait').hide();
            $('#ajax').show();
            if (!spinner_on) {
              spinner_on = true;
              spinner.spin(document.getElementById('spinner'));
            }
          }
          if (timer)
            clearTimeout(timer);
          timer = setTimeout(function () {
            timer = undefined;
            get_preview();
          }, 2000);
        }

        var last_preview_payload, ajax_in_progress, preview_pending;
        function get_preview() {
            if (ajax_in_progress) {
              preview_pending = true;
              return;
            }

            var payload = create_payload();
            if (!payload) 
              return;
            
            if (last_preview_payload 
              && last_preview_payload.a === payload.a
              && last_preview_payload.d === payload.d)
                return;

            last_preview_payload = payload;
            ajax_in_progress = true;

            $.ajax({
                contentType: 'application/json',
                data: JSON.stringify(payload),
                dataType: 'text',
                type: 'POST',
                url: '/create'
            }).always(function () {
              spinner_on = false;
              spinner.stop();
              ajax_in_progress = false;
              if (preview_pending) {
                preview_pending = false;
                get_preview();
              }
            }).done(function (data) {
              var url = window.location.origin + '/' + data
              $('#urlv').html(url);
              $('#url').show();
              $('#copy').attr('data-clipboard-text', url).show();
              $('#wait').hide();
              $('#ajax').hide();
              $('#error').hide();
            }).fail(function (xhr, status, error) {
              $('#error').html(xhr.responseText || error).show();
              $('#url').hide();
              $('#copy').hide();
              $('#wait').hide();
              $('#ajax').hide();
            });
        }

        function create_payload() {
          var payload = {
            d: $('#data').val().trim(),
            a: $('#acl').val().trim()
          }
          return (payload.d.length > 0 && payload.a.length > 0) ? payload : null;
        }

        $('#data').bind('input propertychange', on_change);
        $('#acl').bind('input propertychange', on_change);
        $('#data').focus();
      });
    </script>
  </head>
  <body>
    <!-- Begin page content -->
    <div class="container">
      <h1><a href="/" style="text-decoration:none;color:inherit;">{sharelock} securely share data</a></h1>

      <h2>data to share</h2>
      <textarea id="data" class="form-control" rows="2" placeholder="Passwords, keys, URLs, any text up to 500 characters." maxlength="500"></textarea>
      <span class="text-muted small">Need <a href="#" tabindex="-1">more space</a> or <a href="#" tabindex="-1">secure file sharing</a>?</span>

      <h2>who to share it with</h2>
      <textarea id="acl" class="form-control" rows="2" placeholder="Email addresses (e.g. john@example.com), Twitter handles (e.g. @johnexample), email domain names (e.g. @example.com)" maxlength="200"></textarea>
      <span class="text-muted small">Need <a href="#" tabindex="-1">auditing</a>, <a href="#" tabindex="-1">enterprise credentials</a>, or <a href="#" tabindex="-1">time limits</a>?</span>

      <h2><button id="copy" class="btn btn-primary" style="display:none; margin-right: 1em;">Copy</button>sharelocked data<div style="position: relative; display: inline-block; width: 1em; height: 1em; vertical-align: middle; margin-left: 0.25em;"><span id="spinner"></span></div></h2>
      <p id="ajax" style="display:none;">wait for it...</p>
      <p id="wait" class="bg-info">specify secret data and who to share it with above...</p>
      <div id="url" style="display:none;">
        <p id="urlv" class="bg-primary" style="word-wrap: break-word;"></p>
        <p class="text-muted small">Pass this URL to the people you want to share the data with. The URL can be sent through public channels like e-mail, IRC, or GitHub repositories. People you selected must authenticate themselves before accessing the data.</p>
      </div>
      <p id="error" class="bg-danger" style="display:none;"></p>
    </div>
    <% include footer.ejs %>
    <% include analytics.ejs %>
  </body>
</html>
