{% extends "layout.html" %}

{% block content %}
<div id="content" class="card-panel">

<h2>Security</h2>

<ul class="list">
  <li>Urls are ephemeral, they are <strong>NOT stored anywhere</strong> (neither your secrets). The content you share lives <strong>encrypted in the URL</strong>.</li>

  <li>The <strong>decrypted content</strong> can ONLY be accessed by the people that you shared shared the data with by means of <strong>login and email verification</strong> (as opposed to, let's say, Dropbox links which can be accessed by anyone who has the link).</li>

  <li>Secrets are signed with <strong>HMAC SHA256</strong> and encrypted with <strong>AES 256 CTR</strong> using keys that live on the Sharelock server</li>

  <li>We host sharelock.io public pro bono but we are not in the business of holding your secret content, that's why we built this OSS. If you want to have your own signing key and encryption key you can do that by deploying your own Sharelock instance to <a target="_new" href="https://dashboard.heroku.com/new?template=https%3A%2F%2Fgithub.com%2Fauth0%2Fsharelock">Heroku</a> in seconds (or any other hosting that provides nodejs support)</li>
</ul>

{% endblock %}
