/* Normalized Styles
------------------------------------------------------------------------------*/

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #9B9B9B;
  background: #f1f1f1;
}

h1,h2,h3,h4,h5{
  color: black;
}

strong{
  font-weight: bold;
}

input, textarea, select, button {
  outline: none;
}

.card-panel{
  padding: 0;
}

.inner-padding{
  padding: 60px;
}

img{
  max-width: 100%;
}

/* Container
------------------------------------------------------------------------------*/

.container {
  width: 670px;
  margin: 0 auto;
  padding: 0;
}


/* Header
------------------------------------------------------------------------------*/

#header {
  height: 220px;
  background: #eb5424;
  position: relative;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
}

#header h1 {
  opacity: 0.5;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 29px;
  float: left;
  font-weight: 100;
  margin: 67px 0 0 0;
}

#header .menu-trigger {
  background: url(../images/ico_more.svg) center no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  float: right;
  top: 67px;
  right: 54px;
  position: absolute;
  cursor: pointer;
}

#logo {
  width: 147px;
  height: 36px;
  display: block;
  cursor: pointer;
  text-indent: -9999em;
  background: url(../images/logo.svg) no-repeat;
  position: absolute;
  top: 69px;
  left: 49px;
}

.home-link {
  position: absolute;
  top: 194px;
  right: 113px;
    background: #44c7f4 url(../images/ico_home.svg) no-repeat 50% 47%;
    height: 56px;
    width: 56px;
    border-radius: 100px;
    padding: 0;
}

.dropdown{
  width: 300px;
}

.dropdown-content li>a{
  color: #666;
}

/*  About Page */
.about-page img{
  border-radius: 3px;
}

/* error
------------------------------------------------------------------------------*/

.error-404 {
  min-height: 100%;
}

.error-404 h2 {
  font-size: 300px;
  color: #EB5424;
  line-height: 360px;
  font-weight: 900;
  text-align: center;
  padding: 85px 0 0 0;
  margin-bottom: -53px;
}

.error-404 h3 {
  font-size: 50px;
  color: #9B9B9B;
  line-height: 60px;
  text-align: center;
}

.error-404 {
  min-height: 100%;
}

.error-404 h2 {
  font-size: 300px;
  color: #EB5424;
  line-height: 360px;
  font-weight: 900;
  text-align: center;
  padding: 85px 0 0 0;
  margin-bottom: -53px;
}

.error-404 h3 {
  font-size: 50px;
  color: #9B9B9B;
  line-height: 60px;
  text-align: center;
}

.invalid{
  margin-top: 20px;
}

.invalid h2{
  font-weight: 100;
  font-size: 2em;
  color: black;
  margin-bottom: 20px;
}

/* Content
------------------------------------------------------------------------------*/

#content {
  margin: -60px 0 -28px 0;
  position: relative;
  z-index: 99;
  margin-bottom: 30px
}

.log-in {
  padding: 100px 120px;
}

.log-in p{
  line-height: 1.8;
  padding-bottom: 50px;
}

.log-in p strong {
  color: #666;
}

.log-in h2 {
  font-size: 24px;
  color: #4A4A4A;
  line-height: 29px;
  padding: 0 0 21px 0;
}

.log-in .btns a {
  background: #4A90E2;
  border-radius: 2px;
  font-weight: 500;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  line-height: 46px;
  height: 46px;
  margin-bottom: 10px;
  text-align: center;
  display: block;
  font-size: 14px;
  position: relative;
}

.log-in .btns a:hover {
  text-decoration: none;
}

.log-in .btns a:after {
  position: absolute;
  width: 46px;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.10) url(../images/ico_facebook.svg) no-repeat 50% 50%;
  content: "";
}

.log-in .btns a.google-plus {
  background: #f44336;
}

.log-in .btns a.google-plus:after {
  background: rgba(0,0,0,0.10) url(../images/ico_googleplus.svg) no-repeat 50% 50%;
}

.data {
  padding: 60px 35px 0 60px;
}

.data h3 {
  font-size: 12px;
  color: #EB5424;
  line-height: 16px;
  padding-bottom: 15px;
  margin: 0;
}

.data .text {
  font-size: 36px;
  color: #000000;
  line-height: 43px;
  padding-bottom: 55px;
  word-wrap: break-word;
}

.data .sharelocked-date {
  margin: 0 -35px 0 -60px;
  background: #5c666f;
  padding: 43px 60px 70px 60px;
  font-size: 12px;
  line-height: 20px;
}

.data .sharelocked-date h2 {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22px;
  position: relative;
  margin: 0;
  padding-bottom: 14px;
}

.data .sharelocked-date h2:after {
  position: absolute;
  content: "";
  background: url(../images/ico_case.svg) no-repeat;
  height: 18px;
  width: 14px;
  display: block;
  top: -1px;
  left: -35px;
}

.data .sharelocked-date .link {
  opacity: 0.5;
  color: #FFFFFF;
  text-decoration: underline;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  word-wrap: break-word;
  line-height: 1.5;
}

.data .sharelocked-date .link:hover {
  text-decoration: none;
}

.data .sharelocked-date .share {
  float: left;
  font-size: 14px;
  color: #adb2b6;
  line-height: 17px;
}

.data .sharelocked-date .share a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 5px;
  background: url(../images/ico_data.svg);
  height: 24px;
  width: 24px;
  overflow: hidden;
  border-radius: 50px;
}

.data .sharelocked-date .share a.facebook {
  background-position: -24px 0;
}

.data .sharelocked-date .share a.mail {
  background-position: -48px 0;
}

.data .sharelocked-date .share a:hover {
  background-image: url(../images/ico_data_hover.svg);
}

.data .sharelocked-date .clipboard {
  float: right;
  font-size: 14px;
  color: #adb2b6;
  line-height: 22px;
  position: relative;
  overflow: hidden;
}

.data .sharelocked-date .clipboard a{
  display: block;
  color: white;
  opacity: .5;
}

.data .sharelocked-date .clipboard a i{
  background: url(../images/ico_data.svg) no-repeat -72px 0;
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  overflow: hidden;
  border-radius: 50px;
}

a.zeroclipboard-is-hover{
  color: white;
  text-decoration: none;
}

.data .sharelocked-date .clipboard a.zeroclipboard-is-hover i{
  background-image: url(../images/ico_data_hover.svg) ;
}

.mobile-con {
  display: none;
}

/* Footer
------------------------------------------------------------------------------*/

#footer {
  clear: both;
  padding: 0 50px 20px 50px;
  overflow: hidden;
  line-height: 28px;
}

#footer .design {
  float: left;
  font-size: 14px;
  color: #000000;
  font-weight: 100;
  line-height: 17px;
  margin-top: 5px;
  position: fixed;
  bottom: 50px;
  left: 50px;

}

#footer .design img {
  margin-left: 3px;
  position: relative;
  top: 6px;
}

#footer .social {
  font-weight: 100;
  float: right;
  font-size: 14px;
  color: #000000;

  position: fixed;
  bottom: 50px;
  right: 50px;
}

#footer .social a {
  display: inline-block;
  background: url(../images/ico_social.svg) no-repeat;
  height: 28px;
  width: 28px;
  margin-left: 3px;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50px;
}

#footer .social a:hover {
  background-image: url(../images/ico_social_hover.svg);
}

#footer .social a.facebook {
  background-position: -28px 0;
}

/* Media
------------------------------------------------------------------------------*/

@media screen and (max-width: 1100px) {

  #header .menu-trigger {
    top: 20px;
    right: 20px;
  }

  #logo {
    top: 18px;
    left: 20px;
  }

  #header .menu {
    top: 20px;
    right: 20px;
  }

  #content {
    margin-bottom: 20px;
  }

  


}

/* Media
------------------------------------------------------------------------------*/

@media screen and (max-width: 767px) {

  body {
    background: #fff;
  }

  .card-panel{
    box-shadow: none
  }
  .container {
    width: 100%;
    padding: 0 20px;
  }

  #header {
    height: 150px;
  }

  #header h1 {
    opacity: 1;
    margin: 100px 0 0 0;
  }

  .inner-padding{
    padding: 0px;
  }

  #content {
    box-shadow: none;
    margin: 0;
    background: none;
  }

  .log-in {
    padding: 20px 0 30px 0;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
  }

  .log-in p {
    padding-bottom: 10px;
    margin-top: 0;
  }

  .log-in h2 {
    display: none;
  }

  .log-in .btns a {
    text-align: left;
    padding-left: 62px;
    max-width: 320px;
    margin: 0 auto 10px auto;
  }

  body {
    position: relative;
  }

  #footer {
    display: none;
  }

  .mobile-con .links {
    position: absolute;
    bottom: 0;
    right: 20px;
  }

  #content {
    position: static;
  }

  .mobile-con {
    font-size: 16px;
    color: #000000;
    padding-bottom: 50px;
    line-height: 19px;
    display: block;
  }

  .mobile-con p {
    padding-bottom: 96px;
  }

  .data {
    padding: 36px 0 0 0;
  }

  .data h3 {
    padding-bottom: 7px;
    font-size: 12px;
    line-height: 16px;
  }

  .data .sharelocked-date,
  .data .text {
    display: none;
  }

  .data .scale {
    float: right;
    clear: right;
    background: #FFFFFF url(../images/ico_scale.svg) no-repeat 50% 50%;
    height: 55px;
    width: 55px;
    border-radius: 100px;
    margin-right: -5px;
    padding: 0;
    margin-bottom: 11px;
    display: none;
  }

  .data .plus {
    float: right;
    clear: right;
    background: #44c7f4 url(../images/ico_plus.svg) no-repeat 50% 50%;
    height: 56px;
    width: 56px;
    border-radius: 100px;
    padding: 0;
    margin-right: -5px;
    display: none;
  }


  .home-link {
    position: absolute;
    top: auto;
    bottom: 16px;
    right: 15px;
  }
  
  .404 h2 {
    font-size: 132px;
    line-height: 150px;
    padding: 72px 0 0 0;
    margin-bottom: -20px;
  }
  
  .404 h3 {
    font-size: 21px;
    line-height: 25px;
  }

}
